altgraph==0.17.4 ; python_version >= "3.10" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
backports-tarfile==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.14"
cryptography==44.0.2 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
greenlet==3.1.1 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
idna==3.10 ; python_version >= "3.10" and python_version < "3.14"
importlib-metadata==8.6.1 ; python_version >= "3.10" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.10" and python_version < "3.14"
jaraco-context==6.0.1 ; python_version >= "3.10" and python_version < "3.14"
jaraco-functools==4.1.0 ; python_version >= "3.10" and python_version < "3.14"
jeepney==0.9.0 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
keyring==25.6.0 ; python_version >= "3.10" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "darwin"
more-itertools==10.6.0 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.4 ; python_version >= "3.10" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.14"
pydantic-core==2.27.2 ; python_version >= "3.10" and python_version < "3.14"
pydantic-settings==2.8.1 ; python_version >= "3.10" and python_version < "3.14"
pydantic==2.10.6 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller-hooks-contrib==2025.2 ; python_version >= "3.10" and python_version < "3.14"
pyinstaller==6.12.0 ; python_version >= "3.10" and python_version < "3.14"
pyside6-addons==6.8.2.1 ; python_version >= "3.10" and python_version < "3.14"
pyside6-essentials==6.8.2.1 ; python_version >= "3.10" and python_version < "3.14"
pyside6==6.8.2.1 ; python_version >= "3.10" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.14"
python-rtmidi==1.5.8 ; python_version >= "3.10" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "win32"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.14"
scipy==1.15.2 ; python_version >= "3.10" and python_version < "3.14"
secretstorage==3.3.3 ; python_version >= "3.10" and python_version < "3.14" and sys_platform == "linux"
setuptools==78.1.0 ; python_version >= "3.10" and python_version < "3.14"
shiboken6==6.8.2.1 ; python_version >= "3.10" and python_version < "3.14"
sounddevice==0.5.1 ; python_version >= "3.10" and python_version < "3.14"
soundfile==0.13.1 ; python_version >= "3.10" and python_version < "3.14"
sqlalchemy==2.0.39 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.14"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.12"
